@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Luckiest+Guy|Lilita+One');

* {
	font-family: Montserrat;
	font-weight: 900;
	/* box-sizing: border-box; */
	/* border: 1px solid red; */
}
html {
	height: 100%;
	overflow: hidden;
}

.main {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
body h1 {
	display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	body .main {
		display: none;
	}

	body > h1 {
		display: block;
		color: #fff;
	}
}

body {
	margin: 5px;
	position: relative;
	padding-bottom: 50px;
	padding: 5px;
	height: 100%;
	min-height: 100%;
	text-align: center;
	background: #0a6981;

	background-image: linear-gradient(#0c4059, #0a6981);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
